 .u-section {
   background-image: url("/images/blurnice.jpg");
   background-position: 50% 50%;
   display: flex;
   align-items: center;
   justify-content: center;
 }

 .u-section .u-sheet-1 {
   min-height: 1539px;
   display: flex;

 }

 .u-section .u-layout-wrap {
   display: flex;
   flex-direction: row;
   margin: 157px 1px 0 auto;
 }

 .u-section .u-layout-cell {
   min-height: 379px;
 }


 .u-layout-row{
  display: flex;
  flex-wrap: wrap;
   align-items: center;
   justify-content: flex-start;
   flex: 0 0 0;
 }
 
 .u-layout-col,
 .u-size-30 {
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: center;
   margin-bottom: 20px;
 }

 .u-section .u-gallery {
   height: 286px;
   width: 274px;
   margin: 1px 0 0;
   display: flex;

 }

 .u-section .u-carousel-indicators {
   position: absolute;
   bottom: 10px;
   width: auto;
   height: auto;
 }

 .u-section .u-carousel-item {
   margin-right: 0;
 }

 .u-section .u-over-slide {
   background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
   padding: 30px;
 }



 .u-section .u-carousel-control {
   position: absolute;
   width: 40px;
   height: 40px;
 }

 .u-carousel-control-prev {
   float: right;
 }

 .u-section .u-text {
   margin: 9px auto 0 0;
   width: 300px !important;
   text-align: right;

 }

 .u-section .u-layout-cell {
   min-height: 357px;
 }

 @media (max-width: 1199px) {
   .u-section .u-sheet {
     min-height: 1269px;
   }
 }

 @media (max-width: 991px) {
   .u-section .u-sheet {
     min-height: 972px;
   }

   .u-section .u-layout-cell {
     min-height: 100px;
   }

 }

 @media (max-width: 767px) {
   .u-section .u-sheet {
     min-height: 1029px;
   }

   .u-section .u-layout-wrap {
     width: 540px;
     margin-right: 0;
   }

   .u-section .u-container-layout {
     padding-left: 20px;
     padding-right: 20px;
   }
 }

 @media (max-width: 575px) {
   .u-section .u-layout-wrap {
     width: 340px;
   }
 }