.u-section-1 {
  background-image: url("/images/cbdcdba2c3d2a70b362554a6b4fd749a.jpeg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 872px;
}

.u-section-1 .u-text-1 {
  margin: 60px 587px 0 0;
}

.u-section-1 .u-text-2 {
  margin: 19px 587px 0 0;
  text-align: right;
  width: auto;
  height: auto;
}

.u-section-1 .u-btn-1 {
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  font-weight: 700;
  margin: 21px auto 60px 0;
  border: 1px solid #f1c50e;
}


@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 719px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 387px;
    font-size: 4.5rem;
  }

  .u-section-1 .u-text-2 {
    margin-right: 387px;
  }

  .u-section-1 .u-btn-1 {
    position: relative;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 551px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    font-size: 3.75rem;
    margin-right: 270px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-right: 294px;
  }

  .u-section-1 .u-btn-1 {
    margin-bottom: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    background-position: 0% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 467px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 90px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 114px;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    background-position: 36.32% 50%;
  }

  .u-section-1 .u-text-1 {
    margin-right: auto;
  }

  .u-section-1 .u-text-2 {
    margin-right: auto;
  }
}

.u-section-2 .u-sheet-1 {
  min-height: 786px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 323px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-icon-1 {
  height: 44px;
  width: 44px;
  background-image: none;
  color: rgb(180, 163, 148) !important;
  margin: 0 auto;
}

.u-section-2 .u-text-1 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 1.5rem;
  margin: 20px 0 0;
}

.u-section-2 .u-text-2 {
  margin-left: 0;
  margin-right: 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 323px;
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-icon-2 {
  height: 44px;
  width: 44px;
  background-image: none;
  color: rgb(180, 163, 148) !important;
  margin: 0 auto;
}

.u-section-2 .u-text-3 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 1.5rem;
  margin: 20px 0 0;
}

.u-section-2 .u-text-4 {
  margin-left: 0;
  margin-right: 0;
}

.u-section-2 .u-image-1 {
  min-height: 646px;
  background-image: url("/images/extra.jpg");
  /* background-position: 54.18% 100%; */
  background-position: 30% 100%;

  background-size: auto 115%;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 10px;
}

.u-section-2 .u-layout-cell-4 {
  min-height: 323px;
  background-image: none;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-icon-3 {
  height: 44px;
  width: 44px;
  background-image: none;
  margin: 0 auto;
}

.u-section-2 .u-text-5 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 1.5rem;
  margin: 20px 0 0;
}

.u-section-2 .u-text-6 {
  margin-left: 0;
  margin-right: 0;
}

.u-section-2 .u-layout-cell-5 {
  min-height: 323px;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px 30px 17px;
}

.u-section-2 .u-icon-4 {
  height: 44px;
  width: 44px;
  background-image: none;
  margin: 0 auto;
}

.u-section-2 .u-text-7 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 1.5rem;
  margin: 20px 0 0;
}

.u-section-2 .u-text-8 {
  margin-left: 0;
  margin-right: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 673px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 266px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 266px;
  }

  .u-section-2 .u-image-1 {
    min-height: 533px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 266px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 266px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 952px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-image-1 {
    min-height: 612px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1258px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-1 {
    min-height: 918px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 918px;
  }

  .u-section-2 .u-image-1 {
    min-height: 578px;
  }
}

.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 6px;
}

.u-section-3 .u-image-1 {
  width: 950px;
  height: 633px;
  margin: 0 auto 0 190px;
}

.u-section-3 .u-list-1 {
  width: 1091px;
  margin: -124px auto 0 0;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: calc(25% - 22.5px) calc(25% - 22.5px) calc(25% - 22.5px) calc(25% - 22.5px);
  grid-gap: 30px 30px;
  min-height: 357px;
}

.u-section-3 .u-list-item-1 {
  background-image: none;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-icon-1 {
  height: 88px;
  width: 88px;
  background-image: none;
  margin: 0 auto;
  padding: 22px;
}

.u-section-3 .u-text-1 {
  font-weight: 500;
  text-transform: uppercase;
  margin: 35px 0 0;
}

.u-section-3 .u-text-2 {
  font-style: italic;
  margin: 25px 0 0;
}

.u-section-3 .u-list-item-2 {
  background-image: none;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-icon-2 {
  height: 88px;
  width: 88px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto;
  padding: 22px;
}

.u-section-3 .u-text-3 {
  font-weight: 500;
  text-transform: uppercase;
  margin: 35px 0 0;
}

.u-section-3 .u-text-4 {
  font-style: italic;
  margin: 25px 0 0;
}

.u-section-3 .u-list-item-3 {
  background-image: none;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-icon-3 {
  height: 88px;
  width: 88px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto;
  padding: 22px;
}

.u-section-3 .u-text-5 {
  font-weight: 500;
  text-transform: uppercase;
  margin: 35px 0 0;
}

.u-section-3 .u-text-6 {
  font-style: italic;
  margin: 25px 0 0;
}

.u-section-3 .u-list-item-4 {
  background-image: none;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px;
}

.u-section-3 .u-icon-4 {
  height: 88px;
  width: 88px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto;
  padding: 22px;
}

.u-section-3 .u-text-7 {
  font-weight: 500;
  text-transform: uppercase;
  margin: 35px 0 0;
}

.u-section-3 .u-text-8 {
  font-style: italic;
  margin: 25px 0 0;
}

.u-section-3 .u-text-9 {
  margin: 36px 898px 65px 0;
}

.u-section-3 .u-btn-1 {
  border-style: solid;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-image-1 {
    width: 860px;
    height: 627px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-3 .u-list-1 {
    width: 889px;
    height: auto;
    margin-top: -118px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-text-9 {
    margin-right: 698px;
    margin-bottom: 60px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1266px;
  }

  .u-section-3 .u-image-1 {
    width: 660px;
    height: 524px;
    object-position: 100% 50%;
  }

  .u-section-3 .u-list-1 {
    width: 630px;
    margin-top: -102px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: calc(50% - 15px) calc(50% - 15px);
  }

  .u-section-3 .u-text-9 {
    width: auto;
    margin-top: 35px;
    margin-right: 478px;
    margin-bottom: -321px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1130px;
  }

  .u-section-3 .u-image-1 {
    width: 490px;
    height: 340px;
  }

  .u-section-3 .u-list-1 {
    margin-top: -54px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-text-9 {
    margin-right: 298px;
    margin-bottom: -510px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1617px;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 236px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-3 .u-list-1 {
    width: 290px;
    margin-top: -37px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-3 .u-text-9 {
    width: 242px;
    margin: 25px auto 50px;
  }
}

.u-section-4 .u-sheet-1 {
  min-height: 1002px;
}

.u-section-4 .u-layout-wrap-1 {
  margin: 121px auto 60px;
}

.u-section-4 .u-image-1 {
  background-image: url("/images/r-min.jpg");
  background-position: 50% 50%;
  min-height: 784px;
}

.u-section-4 .u-container-layout-1 {
  padding-bottom: 50px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 145px;
}

.u-section-4 .u-container-layout-2 {
  padding: 20px 0;
}

.u-section-4 .u-text-1 {
  font-size: 3.375rem;
  font-family: Oswald, sans-serif;
  font-weight: 400;
  margin: 0;
  text-align: right;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 358px;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-text-2 {
  margin-bottom: 0;
  margin-top: 0;
  margin-left: 0;
  font-size: 1.125rem;

}

.u-section-4 .u-btn-1 {
  letter-spacing: 2px;
  font-weight: 600;
  background-image: none;
  border: 1px solid #d6b429;
  margin: 26px auto 0 0;
  outline: none !important;
}

.u-section-4 .u-btn-1:visited,
.u-section-4 .u-btn-1:hover,
.u-section-4 .u-btn-1:active {
  border: 1px solid #d6b429;
}

.u-section-4 .u-layout-cell-4 {
  min-height: 94px;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px;
}

.u-section-4 .u-text-3 {
  margin-top: 0;
}

.u-section-4 .u-btn-2 {
  border-style: solid;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 871px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-1 {
    min-height: 646px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 245px;
  }

  .u-section-4 .u-text-1 {
    font-size: 4.0625rem;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 295px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 78px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 726px;
  }

  .u-section-4 .u-image-1 {
    min-height: 603px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-bottom: 30px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 165px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.75rem;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 382px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 84px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-top: 0;
    padding-bottom: 0;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1263px;
  }

  .u-section-4 .u-image-1 {
    min-height: 743px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-top: 63px;
  }

  .u-section-4 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1000px;
  }

  .u-section-4 .u-image-1 {
    min-height: 468px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-top: 58px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.375rem;
  }
}

.afrerSurgery {
  height: 150px;
  overflow: hidden;
}

.afrerSurgery li {
  list-style-type: circle !important;
  text-align: right;
  direction: rtl;
}

