.sec-1 {
    float: right;
    width: 100%;
    padding: 250px 0;
}
.sec-1 .in {
    float: right;
    width: 100%;
    text-align: center;
}
.sec-1 .img {
    width: 400px;
    float: right;
    margin-right: calc(50% - 200px);
    margin-bottom: 30px;
}
.sec-1 .info {
    float: right;
    width: 100%;
    text-align: center;
}
h1, p {
    cursor: default;
}