body {
    background-color: #131313;
}
h2 {
    line-height: 1.75;
    font-size: 1rem;
}
h3 {
    line-height: 1.75;
    /*font-size: 1rem;*/
    font-size: 15px;
    color: #343941;
}
h4 {
    line-height: 1.2;
    font-size: 1.2rem;
}

.sp1 {
    color: #888;
    font-size: 12px;
}
.sp2 {
    color: #bcd4ff;
}
.sp3 {
    color: #fff;
}
.titr {
    font-weight: bold;
}



/*------------------------------------------sec one--------------------------*/
.sec-1 {
    float: right;
    width: 100%;
    margin: 75px 0 15px 0;
}
.main-news {
    float: right;
    width: 100%;
    overflow: hidden;
    padding: 5px;
    background-color: #272727;
    color: white;
    height: auto;
}
.main-news .img {
    float: right;
    width: 60%;
    margin-left: 5px;
}
.main-news h2 {
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 20px;
}
.main-news .info {
    float: right;
    width: calc(40% - 5px);
    height: 496px;
    padding: 100px 50px 0 50px;
    text-align: justify;
    background-color: #383838;
}
    /*------------------------------------------sec four--------------------------*/
.sec-4 {
    float: right;
    width: 100%;
    margin: 0 0 15px 0;
    padding: 15px;
    background-color: #131313;
    color: #fff;

    /*background: -moz-linear-gradient(left,  rgba(255,255,255,0) 10%, rgba(255,255,255,1) 20%, rgba(255,255,255,1) 80%, rgba(255,255,255,0) 90%); */
    /*background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 10%,rgba(255,255,255,1) 20%,rgba(255,255,255,1) 80%,rgba(255,255,255,0) 90%); */
    /*background: linear-gradient(to right,  rgba(255,255,255,0) 10%,rgba(255,255,255,1) 20%,rgba(255,255,255,1) 80%,rgba(255,255,255,0) 90%); */
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=1 ); */
}
.sec-4 .images {
    float: right;
    width: 25%;
    padding-left: 11px;
}
.vedeo_news .videos {
    float: left;
    width: 100%;
}



.items {
    float: right;
    width: 100%;
}
.banners {
    float: right;
    width: 25%;
    padding: 50px 7.5px 7.5px 7.5px;
}
.banners a {
    float: right;
    width: 100%;
    margin-bottom: 15px;
}
.items .in {
    float: right;
    width: 75%;
    margin-bottom: 15px;
    padding: 5px 5px 5px 7.5px;
}
.items .header {
    padding-right: 7.5px;
    color: #fff;
}
.items .m-container {
    padding: 0 7.5px;
}
.items .item {
    float: right;
    width: 100%;
    margin-bottom: 15px;
}
.items .item .info {
    float: right;
    width: calc(100% - 265px);
    padding-top: 20px;
    position: relative;
    height: 167px;
}
.items .item .item-in {
    float: right;
    width: 100%;
    padding: 5px;
    background-color: #272727;
    height: auto;
}
.items .item .img {
    float: right;
    width: 250px;
    margin-left: 15px;
}
.items .item h3 {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    line-height: 23px;
    margin-bottom: 15px;
}
.items .item p {
    color: #d6d6d6;
    font-size: 13px;
    font-weight: normal;
    line-height: 23px;
    margin: 0;
}
.items .item h3 i {
    font-size: 20px;
    margin-top: 3px;
    margin-left: 7px;
    float: right;
}
.items .item span {
    font-size: 11px;
    color: #8c8c8c;
}
.items .item .detile {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}
.items .item .detile .date {
    float: right;
    line-height: 21px;
}
.items .item .detile .play-icon {
    float: left;
    margin: 0 10px 0 5px;
    color: #8c8c8c;
}
.items .item .detile .time {
    float: left;
    line-height: 21px;
}









.pagination-sec {
    float: right;
    width: 100%;
    text-align: center;
    direction: ltr;
    padding: 0 7.5px;
    margin: 25px 0 50px 0;
}
.pagination {
    display: inline-flex;
}
.page-link {
    color: #fff;
    background-color: #383c44;
    border: 1px solid #1f2229;
}
.page-item.disabled .page-link {
    background-color: #383c44;
    border-color: #1f2229;
}
.page-item:last-child .page-link {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.page-item:first-child .page-link {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.page-link:hover {
    color: #ffffff;
    background-color: #d02829;
    border-color: #1f2229;
}
