h2 {
    line-height: 1.75;
    font-size: 1rem;
}
h3 {
    line-height: 1.75;
    /*font-size: 1rem;*/
    font-size: 15px;
    color: #343941;
}
h4 {
    line-height: 1.2;
    font-size: 1.2rem;
}

.sp1 {
    color: #888;
    font-size: 12px;
}
.sp2 {
    color: #e01516;
}
.sp3 {
    color: #fff;
}
.titr {
    font-weight: bold;
}

.page-title {
    font-size: 25px;
    margin: 22px 0;
    padding-right: 10px;
}
.page-title:before {
    content: '';
    width: 3px;
    height: 20px;
    background-color: #e01516;
    margin-left: 10px;
    float: right;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
    /*------------------------------------------sec two--------------------------*/
.category-news {
    float: right;
    margin: 75px 0 15px 0;
    width: 100%;
}
.category-news .featured-news {
    float: right;
    width: calc(75% - 15px);
    margin-left: 15px;
    padding: 5px;
    background-color: #fff;
    height: auto;
    overflow: auto;
}
.category-news .featured-news .item {
    float: right;
    width: 100%;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #dcdcdc;
}
.category-news .featured-news .item .img {
    width: 225px;
    float: right;
}
.category-news .featured-news .item .info {
    float: right;
    width: calc(100% - 225px);
    padding: 0 10px;
}
.category-news .featured-news .item .info p {
    margin: 0;
    text-align: justify
}
.news-tab-col-l {
    width: 25%;
}

/*--------------pagination*/
.category-news .featured-news nav {
    float: right;
    width: 100%;
    text-align: center;
    margin: 50px 0;
}
.category-news .featured-news nav ul {
    display: inline-flex;
}
.page-link {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: 5px;
    line-height: 1.25;
    color: #757575;
    background-color: #ECEFF1;
    border-radius: 5px;
    border: none;
}
.page-link:hover {
    background-color: #ffb3b3;
}
.page-item.disabled .page-link {
    color: #6c757d;
    pointer-events: none;
    cursor: auto;
    background-color: #FAFAFA;
    border-color: #dee2e6;
    margin-left: 5px;
}
.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #d42223;
    border-color: none;
}

/*-------------------for scrollbar*/
.category-news .featured-news::-webkit-scrollbar {
    width: 6px;
}

.category-news .featured-news::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: #FAFAFA;
}

.category-news .featured-news::-webkit-scrollbar-thumb {
    background: #FAFAFA;
    border-radius: 10px;
}

.category-news .featured-news:hover::-webkit-scrollbar-thumb {
    background: #c8c9d3;
}


/*------------------------------------------------------------------------side*/
.news-tab-col-c {
    float: right;
    width: 25%;
    margin-left: 0;
}
.ads {
    height: auto;
}