.secoundNav {
    width: 100%;
}

.drPageHeader {
    background: #2cbfd8;
    border-bottom: 3px solid #22a9bc;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

.headerBar {
    width: 1140px;
    margin: auto;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    /* padding-top: 20px; */
}

#desktopLogo {
    margin: 15px 0 0 0;
    float: right;
    width: 200px;
}

flt-r-user {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}

img {
    vertical-align: middle;
}

.headerSearch {
    width: 500px;
    height: 55px;
    float: left;
    border-radius: 11px;
    overflow: hidden;
    border: 2px #33b6dc solid;
    margin-top: 10px;
    padding: 0;
}

.headerSearch input {
    width: 90%;
    height: 100%;
    border: none;
    padding: 15px;
    font-size: 17px;
}

.headerSearch button {
    width: 10%;
    margin: 0;
    height: 100%;
    float: left;
    border: none;
    box-shadow: none;
    background: #fff;
    font-size: 20px;
    color: #2cbfd8;
    cursor: pointer;
    padding: 11px;
}

.headerLinka {
    position: relative;
    cursor: pointer;
    box-shadow: 0 3px 6px #f1f1f157;
    padding: 5px 10px;
    float: left;
    margin: 7px 0 0 7px;
    background: #00a0b7;
    color: #4be8ff;
    border-radius: 5px;
    border: 1px solid #4be8ff;
}

.user-select-box,
.signinBox {
    position: relative;
    cursor: pointer;
    box-shadow: 0 3px 6px #f1f1f157;
    padding: 5px 10px;
    float: left;
    margin: 7px 0 0 7px;
    background: #00a0b7;
    color: #4be8ff;
    border-radius: 5px;
    border: 1px solid #4be8ff;
}

.drClass {
    border: 1px solid #ebebeb;
    padding: 22px 15px 19px 11px;
    margin: 0px 12px 14px 8px;
    width: 342px;
    height: 122px;
    /* display: flex; */
    /* flex-direction: row; */
    /* justify-content: flex-start; */
    /* align-items: center; */
    box-sizing: content-box;
    border-radius: 7px !important;
    background: #fff;
}

.profesionalLists {
    display: flex;
    flex-direction: column;
    /* clear: both; */
    padding: 5px 20px 5px 0;
    cursor: pointer;
    font-weight: 600;
    align-items: flex-end;

}

.drName {

    margin-top: -6px;
    font-size: 15px !important;
    margin-bottom: 8px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
}

.drName h6 {
    font-size: 16px;
    font-weight: 600;
    white-space: nowrap;
}
.imageSection{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.picDr {
    width: 100%;
    height: 100%;
    object-fit: contain;
    padding: 5px 10px;

}

.drspecialy {
    margin: 4px -3px -1px 1px;
    padding: 6px 9px 8px 18px;
    white-space: nowrap;
    width: 232px;
    color: #096489;
    border-radius: 7px;
    background: #f5f9f9;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: fit-content;
}

.drAddress {
    white-space: nowrap;
    padding: 1px 5px;
    margin: 5px 0 5px 0;
    color: #005964;
}

.pageContent {
    margin-top: 34px;
}

.sidebar {
    display: flex;
    flex-direction: column;
}

.sidebarItem {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.profesinalItem {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    color: #3b4445;

}

.profesinalItem span {
    margin-right: 5px;
    color: #787d7e;
}

.logo {
    display: flex;
    justify-content: center;
}
a:hover, a:visited {
    text-decoration: none;
    transition:all 0.6s ease !important;
    transition: all 0.5s ease;
    background: rgba(255, 255, 255, 0.7);
    border: 1px solid rgba(255, 255, 255, 0.7);
}
 .drInfoSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
 }