.dropbtn {
    background-color: #eceff8;
    color: #020f36;
    padding: 16px 26px 16px 16px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-align: right;
    float: right;
    position: relative;
    display: inline-block;
}

.dropbtn::after {
    content: "\f107";
    position: absolute;
    left: 15px;
    top: 22px;
    font-family: FontAwesome;
    font-size: 21px;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #c2c2c2;
    color: #000;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.04);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}

.dropdown-toggle::after{
    border: none;
    left: 30px;
    font-size: 23px;
}
.pretty input:checked~.state.p-primary-o label:before, .pretty.p-toggle .state.p-primary-o label:before {
    border-color: #848484;
}
.pretty.p-default:not(.p-fill) input:checked~.state.p-primary-o label:after {
    background-color: #000!important;
}
.pretty .state label:before {
    border-color: #848484;
}
.pretty.p-default input:checked~.state label:after {
    background-color: #000!important;
}



.search-main-in .item li a .large-span {
    font-size: 14px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 28px;
    float: left;
    width: calc(100% - 50px);
    padding: 0;
    line-height: 24px;
    margin-left: 20px;
    direction: ltr;
    color: #777;
    text-align: right;
}
.search-main-in .item li a .normal-span {
    font-size: 14px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 28px;
    float: left;
    width: calc(100% - 80px);
    padding: 0;
    line-height: 24px;
    margin-left: 20px;
    direction: ltr;
    color: #777;
    text-align: right;
}
.search-main-in .item li a .normal-l-span {
    font-size: 14px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 28px;
    float: left;
    width: calc(100% - 60px);
    padding: 0;
    line-height: 24px;
    margin-left: 20px;
    direction: ltr;
    color: #777;
    text-align: right;
}
.search-main-in .item li a .small-span {
    font-size: 14px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 28px;
    float: left;
    width: calc(100% - 110px);
    padding: 0;
    line-height: 24px;
    margin-left: 20px;
    direction: ltr;
    color: #777;
    text-align: right;
}




@media only screen and (max-width: 1200px) {
    .dropbtn {
        font-size: 14px;
    }
    .search-main-in .item li a .large-span {
        width: calc(100% - 50px);
        color: #ff6f00;
    }
    .search-main-in .item li a .normal-span {
        width: calc(100% - 73px);
        color: #ff6f00;
    }
    .search-main-in .item li a .normal-l-span {
        width: calc(100% - 55px);
        color: #ff6f00;
    }
    .search-main-in .item li a .small-span {
        width: calc(100% - 100px);
        color: #ff6f00;
    }
}