h2 {
    line-height: 1.75;
    font-size: 1rem;
}
h3 {
    line-height: 1.75;
    /*font-size: 1rem;*/
    font-size: 15px;
    color: #343941;
}
h4 {
    line-height: 1.2;
    font-size: 1.2rem;
}

.sp1 {
    color: #888;
    font-size: 12px;
}
.sp2 {
    color: #e01516;
}
.sp3 {
    color: #fff;
}
.titr {
    font-weight: bold;
}



/*------------------------------------------sec one--------------------------*/
.sec-1 {
    float: right;
    width: 100%;
    margin: 75px 0 0 0;
}
.main-news {
    float: right;
    width: calc(50% - 15px);
    height: 425px;
    margin-left: 15px;
    overflow: hidden;
    padding: 5px;
    background-color: #fff;
}
.main-news .owl-carousel .owl-item .info {
    padding: 10px 30px 10px 100px;
    width: auto;
    max-width: calc(100% - 50px);
    background: rgba(216, 30, 31, 0.9);
    bottom: 15px;
}
.main-news .owl-carousel .owl-item .info h3 {
    margin: 0;
}
.main-news .bottom {
    float: right;
    width: 100%;
    margin-top: 5px;
}
.main-news .bottom ul li:first-child {
    float: right;
    width: 50%;
    padding-left: 2.5px;
}
.main-news .bottom ul li:last-child {
    float: right;
    width: 50%;
    padding-right: 2.5px;
}
.main-news .bottom ul li a {
    float: right;
    width: 100%;
}
.top-center-news {
    float: right;
    width: calc(25% - 7.5px);
    height: 425px;
    margin-left: 7.5px;
    background-color: #fff;
    padding: 5px;
    position: relative;
}
.top-center-news .in {
    float: right;
    width: 100%;
    height: 100%;
}
.hover-title {
    float: right;
    background: #e01516;
    color: #fff;
    position: absolute;
    right: -5px;
    top: 10px;
    padding: 6px 5px 6px 15px;
    margin-right: 10px;
    z-index: 2;
}
.hover-title h4 {
    font-size: 15px;
    margin: 0;
}
.hover-title:before {
    content: '';
    height: 30px;
    width: 5px;
    background-color: transparent;
    float: right;
    position: absolute;
    right: -10px;
    top: 0;
    border-radius: 5px;
}
.top-center-news .in .img {
    margin-bottom: 5px;
    float: right;
    width: 100%;
}
.top-center-news .in img {
    float: right;
    width: 100%;
}
.my-barish {
    float: right;
    width: calc(25% - 7.5px);
    height: 425px;
    margin-right: 7.5px;
    background-color: #fff;
    padding: 5px;
    position: relative;
}
.my-barish .slider {
    float: right;
    width: 100%;
    height: 330px;
    /* border: 1px solid #BDBDBD; */
    /* padding: 5px 5px 5px 5px; */
    /* border-radius: 5px; */
    background-color: #f1f1f1;
}
.my-barish .slider .item {
    float: right;
}
.my-barish .slider .img {
    float: right;
    width: 100%;
}
.my-barish .slider .img img {
    /*border-radius: 4px 4px 0 0;*/
}
.my-barish .slider .protection {
    float: left;
    width: 100%;
    text-align: left;
    direction: ltr;
    font-size: 15px;
    margin: 0px 0 5px 0;
    background-color: #f1f1f1;
    padding: 5px;
    color: #41484e;
    border-radius: 0 0 4px 4px;
}
.my-barish .slider .protection i {
    /*border: 1px solid #29b7f6;*/
    border-radius: 50%;
    height: 30px;
    width: 30px;
    line-height: 30px;
    text-align: center;
    /*color: #29b7f6;*/
}
.my-barish .slider .owl-theme .owl-nav {
    top: 90px;
}
.my-barish .bottom {
    float: right;
    width: 100%;
    /* margin-top: 5px; */
    height: 85px;
    border-top: 1px solid #BDBDBD;
    padding: 21px 5px 5px 5px;
    /* border-radius: 5px; */
    position: relative;
    background-color: #f1f1f1;
}
.my-barish .bottom .no {
    text-align: center;
    padding: 10px;
    margin-bottom: 0;
    line-height: 30px;
}
.my-barish .bottom .no p {
    margin: 0;
}
.my-barish .bottom .no span {
    color: #e01516;
    font-weight: bold;
}
.my-barish .bottom .join {
    text-align: center;
    float: right;
    width: 100%;
    height: 50px;
}
.my-barish .bottom .join a {
    padding: 25px 15px 3px 15px;
    margin: 0 5px;
    border-radius: 5px;
    width: 100px;
    position: relative;
    top: 27px;
}
.my-barish .bottom .join a i {
    width: calc(100% - 30px);
    font-size: 25px;
    margin-bottom: 15px;
    position: absolute;
    top: 0;
}
.my-barish .bottom .join .subjects {
    color: #29b7f6;
}
.my-barish .bottom .join .send-new {
    color: #49b14d;
}

/*------------------------------------------sec two--------------------------*/
.sec-2 {
    float: right;
    margin-top: 15px;
    width: 100%;
}
.sec-2 .featured-news {
    float: right;
    width: calc(50% - 15px);
    margin-left: 15px;
    padding: 5px;
    background-color: #fff;
    min-height: 1330px;
}
.sec-2 .featured-news .item {
    float: right;
    width: 100%;
    margin-bottom: 7.5px;
    background-color: #f1f1f1;
}
.sec-2 .featured-news .item .img {
    width: 180px;
    float: right;
}
.sec-2 .featured-news .item .info {
    float: right;
    width: calc(100% - 180px);
    padding: 0 10px;
}
.sec-2 .featured-news .item .info p {
    margin: 0;
    text-align: justify
}
.news-tab-col-l {
    width: calc(25% - 7.5px);
}

/*-------------------for scrollbar*/
.sec-2 .featured-news::-webkit-scrollbar {
    width: 6px;
}

.sec-2 .featured-news::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: #FAFAFA;
}

.sec-2 .featured-news::-webkit-scrollbar-thumb {
    background: #FAFAFA;
    border-radius: 10px;
}

.sec-2 .featured-news:hover::-webkit-scrollbar-thumb {
    background: #c8c9d3;
}




/*------------------------------------------sec three--------------------------*/
.sec-3 {
    float: right;
    width: 100%;
    background-color: #f1f1f1;
    padding: 15px 0;
}
.sec-3 .in {
    float: right;
    width: 100%;
    min-height: 350px;
}
.sec-3 .in .news-col-3 {
    padding: 10px 5px 5px 5px;
}
.sec-3 .in .news-col-3 header {
    float: right;
    width: 100%;
    height: 40px;
}
.sec-3 .in .news-col-3 .in {
    float: right;
    width: 100%;
    height: 345px;
    padding: 5px;
    overflow: auto;
    direction: ltr;
}
.sec-3 .in .news-col-3 .in .item {
    float: right;
    width: 100%;
    padding: 10px 0;
    direction: rtl;
}
.sec-3 .in .news-col-3 .in .item .img {
    float: right;
    margin: 0 0 5px 10px;
    width: 90px;
}
.sec-3 .in .news-col-3 .in .item h5 {
    font-size: 16px;
    padding-left: 0;
}
.sec-3 .in .col-border .in {
    border-right: 1px solid #dcdcdc;
    border-left: 1px solid #dcdcdc;
    padding-right: 10px;
}

/*-------------------for scrollbar*/
.sec-3 .in .news-col-3 .in::-webkit-scrollbar {
    width: 6px;
}

.sec-3 .in .news-col-3 .in::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: #FAFAFA;
}

.sec-3 .in .news-col-3 .in::-webkit-scrollbar-thumb {
    background: #FAFAFA;
    border-radius: 10px;
}

.sec-3 .in .news-col-3 .in:hover::-webkit-scrollbar-thumb {
    background: #c8c9d3;
}


/*-----------------------------------------------------------banners-and-news*/
.banners-and-news {
    float: right;
    width: 50%;
}
.banners-and-news .banners {
    float: right;
    width: 50%;
    padding-left: 7.5px;
}
.banners-and-news .banners .banner {
    margin-bottom: 15px;
    float: right;
    width: 100%;
}
.banners-and-news .banners .banner:last-child {
    margin: 0;
}
.banners-and-news .col-news {
    float: right;
    width: 50%;
    padding-right: 7.5px;
}
.banners-and-news .col-news .shahrvand{
    float: right;
    width: 100%;
    background-color: white;
    height: 289px;
    margin-bottom: 13px;
    padding: 0 5px;
    position: relative;
}
.banners-and-news .col-news .shahrvand .owl-theme .owl-nav, .banners-and-news .col-news .gallery .owl-theme .owl-nav {
    top: calc(50% - 52px);
}
.banners-and-news .col-news .gallery {
    float: right;
    width: 100%;
    background-color: #f1f1f1;
    height: 333px;
    padding: 10px 0 15px 0;
    position: relative;
}
.banners-and-news .col-news .gallery h4 {
    margin-bottom: 15px;
    padding: 0 10px;
}
.banners-and-news .col-news .gallery .item-main {
    float: right;
    width: 100%;
    margin-bottom: 5px;
    position: relative;
}
.banners-and-news .col-news .gallery .item-main h2 {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    margin: 0;
    opacity: 0;
    transition: .3s;
    font-size: 15px;
}
.banners-and-news .col-news .gallery .item-main:hover h2 {
    opacity: 1;
}
.banners-and-news .col-news .gallery .item-main h2 a:hover {
    color: #212529;
}
.banners-and-news .col-news .gallery .bottom-items {
    float: right;
    width: 100%;
    height: 77px;
    overflow: hidden;
}
.banners-and-news .col-news .gallery .bottom-items .item-small:first-child {
    float: right;
    width: 50%;
    padding-left: 2.5px;
    margin-top: -11px;
}
.banners-and-news .col-news .gallery .bottom-items .item-small:last-child {
    float: right;
    width: 50%;
    padding-right: 2.5px;
    margin-top: -11px;
}
.banners-and-news .col-news .gallery .bottom-items .item-small a {
    float: right;
    width: 100%;
}

/*------------------------------------------sec four--------------------------*/
.sec-4 {
    float: right;
    width: 100%;
    margin: 0 0 15px 0;
    padding: 15px;
    background-color: #1f2229;
    color: #fff;
    min-height: 340px;
    /*background: -moz-linear-gradient(left,  rgba(255,255,255,0) 10%, rgba(255,255,255,1) 20%, rgba(255,255,255,1) 80%, rgba(255,255,255,0) 90%); */
    /*background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 10%,rgba(255,255,255,1) 20%,rgba(255,255,255,1) 80%,rgba(255,255,255,0) 90%); */
    /*background: linear-gradient(to right,  rgba(255,255,255,0) 10%,rgba(255,255,255,1) 20%,rgba(255,255,255,1) 80%,rgba(255,255,255,0) 90%); */
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=1 ); */
}
.sec-4 .images {
    float: right;
    width: 25%;
    padding-left: 11px;
}
.vedeo_news .videos {
    float: left;
    width: 100%;
}

/*------------------------------------------sec five--------------------------*/
.sec-5 {
    float: right;
    width: 100%;
    margin: 15px 0;
}
.cities-colored-title {
    margin-bottom: 5px;
}
.cities-colored-title::before {
    content: '';
    width: 3px;
    height: 20px;
    background-color: #e01516;
    margin-left: 10px;
    float: right;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.sec-5 .other-news {
    float: right;
    width: calc(25% - 7.5px);
    background-color: #fff;
    padding: 5px;
}
.sec-5 .right {
    float: right;
    width: 100%;
    min-height: 445px;
    background-color: #fff;
}
.sec-5 .right .header {
    padding: 10px;
}
.choice-map {
    float: left;
    width: 395px;
    font-size: 14px;
    text-align: center;
}
.sec-5 .cities-map {
    float: left;
    width: 300px;
    position: relative;
}
.sec-5 .cities-map img {
    width: auto;
    float: left;
}
.city-main-news {
    float: right;
    width: 50%;
}
.city-main-news .img {
    margin-bottom: 10px;
}
.cities-all-news {
    float: right;
    width: 100%;
    padding-right: 10px;
}
.sec-5 .right h4 {
    float: right;
    width: 390px;
    margin-bottom: 0;
    padding-bottom: 10px;
    font-size: 18px;
    padding-right: 12px;
    color: #e01516;
    position: absolute;
}
.sec-5 .right .top {
    float: right;
    width: 100%;
}
.sec-5 .right .item {
    float: right;
    width: 430px;
    padding: 0 0 0 7.5px;
    margin-bottom: 10px;
}
.map-news {
    float: right;
    width: calc(100% - 300px);
    height: 381px;
    overflow: auto;
    direction: ltr;
    padding: 40px 0 0 0;
}
.map-news li {
    float: right;
    width: calc(50% - 15px);
    margin: 0 0 15px 15px;
}
.map-news li h5 {
    font: 500 15px "Vazir";
    direction: rtl;
}
.map-news li h5::before {
    content: '› ';
    font-size: 23px;
    color: #e01516;
}
.sec-5 .right .item .info {
    float: right;
    width: calc(100% - 150.5px);
    height: 87px;
    background-color: #F5F5F5;
    padding: 7.5px 10px;
    overflow: hidden;
}
.sec-5 .right .item .img {
    float: right;
    width: 133px;
    margin-left: 10px;
}
.sec-5 .right h5 {
    line-height: 22px;
}
.sec-5 .right .img {
    float: right;
    width: 100px;
    margin-left: 10px;
}
.tab-content-745 {
    height: 745px
}

/*-------------------for scrollbar*/
.map-news::-webkit-scrollbar {
    width: 6px;
}

.map-news::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: #FAFAFA;
}

.map-news::-webkit-scrollbar-thumb {
    background: #FAFAFA;
    border-radius: 10px;
}

.map-news:hover::-webkit-scrollbar-thumb {
    background: #c8c9d3;
}



/*-------------------------left*/
.sec-5 .left {
    float: right;
    width: calc(35% - 7.5px);
    min-height: 445px;
    margin-right: 7.5px;
}
.infographic {
    float: right;
    width: 100%;
    padding: 10px 0;
    background-color: #f1f1f1;
}
.infographic h4 {
    margin-bottom: 15px;
    padding: 0 10px
}
.infographic h5 {
    padding: 0 10px
}
.infographic .owl-theme .owl-nav {
    top: calc(50% - 50px);
}
/*----------------------------------------------sec six------------------servicies1----------------------------------*/
.sec-6 {
    float: right;
    width: 100%;
    margin-bottom: 15px;
}
.servicies1 {
    float: right;
    width: 100%;
    background-color: white;
    padding: 10px;
}
.servicies1 .co-1 {
    padding-left: 20px;
}
.servicies1 .co-2 {
    padding: 0 10px;
}
.servicies1 .co-3 {
    padding-right: 20px;
}
.servicies1 h5 {
    font-size: 16px
}
.servicies1 .news-col-3 .main-item {
    float: right;
    width: 100%;
    background-color: whitesmoke;
}
.servicies1 .news-col-3 .main-item .img {
    float: right;
    width: 100%;
    margin-bottom: 5px;
}
.servicies1 .news-col-3 .main-item .info {
    padding: 10px 10px 0 10px;
    float: right;
    width: 100%;
}
.servicies1 .news-col-3 .item {
    float: right;
    width: 100%;
    margin-bottom: 28px;
    background-color: whitesmoke;
    padding-left: 5px;
}
.servicies1 .news-col-3 .item .img {
    float: right;
    width: 150px;
    margin-left: 10px;
}
.servicies1 .news-col-3 .item .info {
    padding: 5px 0 0 5px;
}
.servicies1 .news-col-3 .item h5 {
    line-height: 22px;
}


/*----------------------------------------------sec seven------------------servicies1----------------------------------*/
.sec-7 {
    float: right;
    width: 100%;
    margin-bottom: 15px;
}
.servicies2 {
    float: right;
    width: 100%;
    background-color: white;
    padding: 10px;
}
.servicies2 .co-1 {
    padding-left: 20px;
}
.servicies2 .co-2 {
    padding: 0 10px;
}
.servicies2 .co-3 {
    padding-right: 20px;
}
.servicies2 h5 {
    font-size: 16px
}
.servicies2 .news-col-4 .main-item {
    float: right;
    width: 100%;
    background-color: whitesmoke;
}
.servicies2 .news-col-4 .main-item .img {
    float: right;
    width: 100%;
    margin-bottom: 5px;
}
.servicies2 .news-col-4 .main-item .info {
    padding: 10px 10px 0 10px;
    float: right;
    width: 100%;
}
.servicies2 .news-col-4 .item {
    float: right;
    width: 100%;
    background-color: whitesmoke;
}
.servicies2 .news-col-4 .item .img {
    float: right;
    width: 100%;
    margin-bottom: 5px;
}
.servicies2 .news-col-4 .item .info {
    padding: 10px 10px 0 10px;
    float: right;
    width: 100%;
}
.servicies2 .news-col-2 .item {
    float: right;
    width: 100%;
    margin-bottom: 41px;
    background-color: whitesmoke;
    padding-left: 5px;
}
.servicies2 .news-col-2 .item:last-child {
    margin-bottom: 0;
}
.servicies2 .news-col-2 .item .img {
    float: right;
    width: 150px;
    margin-left: 10px;
}
.servicies2 .news-col-2 .item .info {
    padding: 5px 0 0 5px;
}
.servicies2 .news-col-2 .item h5 {
    line-height: 22px;
}

/*----------------------------------------------sec eight------------------servicies1----------------------------------*/
.sec-8 {
    float: right;
    width: 100%;
    margin-bottom: 15px;
}
.servicies3 {
    float: right;
    width: 100%;
    background-color: white;
    padding: 10px;
}
.servicies3 .co-1 {
    padding-left: 10px;
}
.servicies3 .co-2 {
    padding: 0 20px 0 0;
}
.servicies3 .co-3 {
    padding: 0 10px;
}
.servicies3 .co-1 .info {
    background-color: whitesmoke;
    padding: 10px;
}
.servicies3 h5 {
    font-size: 16px
}
.servicies3 .news-col-4 .main-item {
    float: right;
    width: 100%;
    background-color: whitesmoke;
}
.servicies3 .news-col-4 .main-item .img {
    float: right;
    width: 100%;
    margin-bottom: 5px;
}
.servicies3 .news-col-4 .main-item .info {
    padding: 10px 10px 0 10px;
    float: right;
    width: 100%;
}
.servicies3 .news-col-4 .item {
    float: right;
    width: 100%;
    background-color: whitesmoke;
}
.servicies3 .news-col-4 .item .img {
    float: right;
    width: 100%;
    margin-bottom: 5px;
}
.servicies3 .news-col-4 .item .info {
    padding: 10px 10px 0 10px;
    float: right;
    width: 100%;
}
.servicies3 .news-col-2 .item {
    float: right;
    width: 100%;
    margin-bottom: 23px;
    background-color: whitesmoke;
    padding-left: 5px;
}
.servicies3 .news-col-2 .item:last-child {
    margin-bottom: 0;
}
.servicies3 .news-col-2 .item .img {
    float: right;
    width: 150px;
    margin-left: 10px;
}
.servicies3 .news-col-2 .item .info {
    padding: 5px 0 0 5px;
}
.servicies3 .news-col-2 .item h5 {
    line-height: 22px;
}

/*-------------------------------------------------------------list news-----------------------*/
.list-news {
    float: right;
    width: 100%;
    padding: 15px 0 15px 0;
    margin-bottom: 15px;
    background-color: #901010;
    color: #fff;
}
.list-news header {
    padding: 0 15px;
}
.list-news .all-items {
    float: right;
    width: 100%;
    min-height: 335px;
}
.list-news .all-items .main-item {
    float: right;
    width: 30%;
    padding: 15px;
}
.list-news .all-items .main-item .img {
    float: right;
    width: 100%;
}
.list-news .all-items .main-item .info {
    float: right;
    width: 100%;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.1);
    color: #fff;
}
.list-news .all-items .main-item .info h5 {
    color: #fff;
}
.list-news .all-items .main-item .info .sp2 {
    color: #FFC107;
}
.list-news .all-items .item {
    float: right;
    width: 35%;
    padding: 15px;
}
.list-news .all-items .item .in {
    float: right;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.1);
}
.list-news .all-items .item .in .img {
    float: right;
    width: 127px;
    margin-left: 10px;
}
.list-news .all-items .item .in h5 {
    margin: 0;
    font-size: 15px;
    line-height: 21px;
    font-weight: 300;
}
.list-news .all-items .item .in h5 a {
    color: #fff;
}
.list-news .all-items .item .in h5 a:hover {
    color: #29b7f6;
}
.list-news .all-items .item .in .sp1 {
    color: #ffb8b8;
    font-size: 13px;
}
.list-news .all-items .item .in .sp2 {
    color: #FFC107;
}
.list-news .colored-title::before {
    background-color: #FFC107;
}
/*--------------------------------------------------------image gallery-----------------------*/
.image-gallery {
    float: right;
    width: 100%;
    padding: 15px 0 15px 0;
    background-color: #37474f;
    color: #fff;
}
.image-gallery .images-in {
    float: right;
    width: 100%;
}
.image-gallery .images-in .main-image {
    float: right;
    width: 50%;
    padding-left: 7.5px;
}
.image-gallery .images-in .main-image .img {
    float: right;
    width: 100%;
    position: relative;
}
.image-gallery .images-in .main-image .img .info {
    position: absolute;
    width: 100%;
    bottom: 0;
    right: 0;
    padding: 15px;
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.2) 7%, rgba(0,0,0,0.9) 62%, rgba(0,0,0,0.9) 100%);
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.2) 7%,rgba(0,0,0,0.9) 62%,rgba(0,0,0,0.9) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.2) 7%,rgba(0,0,0,0.9) 62%,rgba(0,0,0,0.9) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#e6000000',GradientType=0 );
}
.image-gallery .images-in .main-image .img .info h5 {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
}
.image-gallery .images-in .thumbs {
    float: right;
    width: 50%;
    padding-right: 7.5px;
}
.image-gallery .images-in .thumbs .item {
    float: right;
    width: 50%;
    padding: 0 7.5px;
    margin-bottom: 15px;
}
.image-gallery .images-in .thumbs .item .img {
    float: left;
    width: 100%;
    position: relative;
}
.image-gallery .images-in .thumbs .img .info {
    position: absolute;
    width: 100%;
    bottom: 0;
    right: 0;
    padding: 15px;
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.2) 7%, rgba(0,0,0,0.9) 62%, rgba(0,0,0,0.9) 100%);
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.2) 7%,rgba(0,0,0,0.9) 62%,rgba(0,0,0,0.9) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.2) 7%,rgba(0,0,0,0.9) 62%,rgba(0,0,0,0.9) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#e6000000',GradientType=0 );
}
.image-gallery .images-in .thumbs .img .info h5 {
    color: #fff;
    font-size: 16px;
    font-weight: 300;
}
/*--------------------------------------------------------------------- banner -----------------------------------*/
.banner-main {
    float: right;
    width: 100%;
    margin: 5.5px 0 7.5px 0;
}
.banner-main a {
    float: right;
    width: 100%;
    padding-right: 5px;
}
/*--------------------------------------------------------------------- radio -----------------------------------*/
.radio {
    float: right;
    width: 100%;
    margin: 7.5px 0 0 0;
    padding: 15px;
    background-color: #00312d;
    color: #fff;
}
.radio .icons {
    float: right;
    width: calc(50% - 150px);
    line-height: 55px;
    font-size: 16px;
}
.radio .icons i {
    /*color: #e01516;*/
}
.radio .play {
    float: right;
    width: 300px;
    height: 54px;
    background-image: url(../img/sound.svg);
    background-size: 120px;
    background-position: center;
    background-repeat: no-repeat;
}
.radio .title {
    float: left;
    width: calc(50% - 150px);
    text-align: left;
    padding-top: 15px;
}
