h1 {
    font-size: 22px;
    margin-bottom: 25px;
}
h2 {
    line-height: 1.75;
    font-size: 1rem;
}
h3 {
    line-height: 1.75;
    /*font-size: 1rem;*/
    font-size: 15px;
    color: #343941;
}
h4 {
    line-height: 1.2;
    font-size: 1.2rem;
}

.sp1 {
    color: #888;
    font-size: 12px;
    margin-bottom: 7.5px;
    float: right;
    width: 100%;
}
.sp2 {
    color: #e01516;
}
.sp3 {
    color: #fff;
}
.titr {
    font-weight: bold;
}








.banner {
    float: right;
    width: 100%;
    background-color: #0056b3;
    color: #fff;
    height: 400px;
    margin-bottom: 30px;
}
.banner .m-container {
    padding-top: 150px;
}
.news-info {
    float: right;
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    background-color: #fff;
    font-size: 12px;
}
.news-info .address {
    float: right;
    margin-left: 50px;
}
.news-info .address a {
    float: right;
}
.news-info .address a:after {
    content: '/';
    float: left;
    margin: 0 5px;
}
.news-info .address a:last-child:after {
    content: '';
}
.news-info .date {
    float: right;
    margin-left: 50px;
}
.news-info .code {
    float: right;
    margin-left: 50px;
}
.news-info .socials {
    float: left;
}
.news-info .socials a {
    float: left;
    margin-right: 10px;
}
.news-info .socials a i {
    font-size: 20px;
}









.summary {
    float: right;
    width: 100%;
    background-color: #fcfcfc;
    border: 1px solid #ccc;
    padding: 15px;
    margin-bottom: 25px;
}
.news_pic {
    float: left;
    position: relative;
}
.img {
    float: left;
    width: 400px;
    margin: 0 15px 15px 0;
    position: relative;
}
.img img {
    float: right;
    width: 100%;
    cursor: pointer;
}
.news_pic .minimaize {
    position: absolute;
    right: 15px;
    top: 15px;
    padding: 3px;
    cursor: pointer;
    font-size: 19px;
    display: none;
}
.news_pic .minimaize i {
    position: absolute;
    right: 0;
    top: 0;
}
.news_pic .minimaize i:nth-child(1) {
    transform: rotate(10deg);
}
.news_pic .minimaize i:nth-child(2) {
    transform: rotate(95deg);
}
p {
    font-size: 15px;
    line-height: 25px;
    text-align: justify;
}

/*------------------------------------------sec two--------------------------*/
.main-part {
    float: right;
    width: 100%;
    height: auto;
}
.main-news {
    float: right;
    margin: 58px 0 15px 0;
    width: 100%;
}
.news-box {
    float: right;
    width: 100%;
    margin-bottom: 15px;
}
.news-box .in {
    float: right;
    width: 100%;
    padding: 15px 10px;
    background-color: #fff;
    height: auto;
    overflow: auto;
}







.other_news {
    float: right;
    width: 100%;
    margin-bottom: 15px;
    background-color: #fff;
    height: auto;
    overflow: auto;
}
.other_news .in {
    float: right;
    width: 100%;
    padding: 15px;
}
.other_news h4 {
    float: right;
    width: 100%;
    padding: 15px 15px 0 15px;
    margin-bottom: 2px;
}
.other_news .sp3 {
    font-size: 12px;
}
.other_news .owl-carousel .owl-item .info h3 {
    color: #fff;
    font-size: 14px;
}
.owl-theme .owl-nav {
    top: calc(50% - 23px);
}






.comments {
    float: right;
    width: 100%;
    margin-bottom: 15px;
    height: auto;
    overflow: auto;
    border-radius: 3px;
}
.comments h4 {
    margin-bottom: 0;
    padding: 10px 15px;
    color: #2e3134;
}
.comments h4:before {
    content: '';
    width: 3px;
    height: 20px;
    background-color: #e01516;
    margin-left: 10px;
    float: right;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.comments form {
    float: right;
    width: 100%;
    padding: 15px 10px 10px 10px;
}
.comments .info {
    float: right;
    width: 100%;
    padding: 15px;
    margin-bottom: 25px;
    background-color: #f8f8f8;
    border: 1px solid #e1e1e1;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.comments .info p {
    font-size: 14px;
    margin: 0;
}
.comments .title-p {
    color: #757575;
    padding: 0 7.5px;
    font-size: 14px;
    float: right;
    width: 100%;
    margin: 0;
}
.comments form .item {
    float: right;
    width: 100%;
    margin-bottom: 15px;
}
.comments form .input-title {
    float: right;
    width: 100%;
    font-weight: bold;
    font-size: 18px;
}
.comments form .input-title i {
    float: right;
    margin-left: 5px;
    color: #e01516;
    font-style: normal;
}
.input-text {
    padding: 7.5px;
    float: right;
    width: 50%;
}
.input-text input {
    width: 100%;
    float: right;
    font-size: 14px;
    line-height: 18px;
    padding: 10px 15px;
    border: 1px solid #cecece;
    border-radius: 5px;
}
.input-text-w100 {
    padding: 7.5px;
    float: right;
    width: 100%;
}
.input-text-w100 input {
    float: right;
    width: 100%;
    font-size: 14px;
    line-height: 18px;
    padding: 10px 15px;
    border: 1px solid #cecece;
    border-radius: 5px;
}
.input-textarea {
    float: right;
    width: 100%;
    padding: 7.5px;
}
.input-textarea textarea {
    float: right;
    width: 100%;
    font-size: 14px;
    line-height: 18px;
    padding: 10px 10px;
    min-height: 300px;
    border: 1px solid #cecece;
    border-radius: 5px;
}
.uploat-file {
    float: right;
    width: 100%;
    padding: 7.5px
}
.dropify-wrapper {
    height: 120px;
    border-radius: 5px;
    border: 1px solid #f8f8f8;
    background-color: #f8f8f8;
}
.control-label {
    float: right;
    width: 100%;
    margin: 0 !important;
}
.captcha {
padding: 7.5px;
float: right;
width: 100%;
}
.captcha .in {
float: right;
width: 100%;
padding: 5px;
background-color: #fbfbfb;
}
.captcha .in span {
line-height: 30px;
}
.captcha .captcha-img {
float: left;
width: 85px;
border: 1px solid #B0BEC5;
border-radius: 3px;
}
.captcha .captcha-img img {
border-radius: 3px;
}
.captcha i {
float: left;
margin-left: 5px;
line-height: 30px;
font-size: 14px;
cursor: pointer;
}
.captcha i:hover {
color: red;
}
.captcha input {
float: left;
width: 100px;
border: 1px solid #B0BEC5;
border-radius: 3px;
margin-left: 20px;
font-size: 14px;
line-height: 18px;
padding: 5px 10px;
text-align: center;
}
.sub-btn {
padding: 7.5px;
float: left;
width: 100%;
    text-align: center;
    margin: 60px 0 25px 0;
}
.sub-btn button {
    background-color: #03A9F4;
    color: #fff;
    border: none;
    padding: 13px 70px;
    font-weight: normal;
    font-size: 16px;
}
.sub-btn button:hover {
background-color: #0391d1;
}
.users-comments {
float: right;
width: 100%;
background-color: #fff;
}
.users-comments h4 {
margin-bottom: 15px;
background-color: #009688;
padding: 10px 15px;
color: white;
}
.users-comments .in {
float: right;
width: 100%;
padding: 15px;
}
.users-comments .in .item {
float: right;
width: 100%;
margin-bottom: 15px;
border: 1px solid #f1f1f1;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}
.users-comments .in .item header {
float: right;
width: 100%;
padding: 5px 10px;
background-color: #fafafa;
}
.users-comments .in .item header h5 {
float: right;
margin: 0 0 0 30px;
color: #607D8B;
}
.users-comments .in .item header span {
font-size: 12px;
color: #9E9E9E;
}
.users-comments .in .item .info {
padding: 10px 10px 20px 10px;
float: right;
width: 100%;
}
.users-comments .in .item .info p {
margin: 0;
font-size: 14px;
color: #444;
}
/*------------------------------------------------------------------------side*/
aside {
    float: right;
    width: 25%;
    margin-left: 0;
}
.news-tab-col-c {
    float: right;
    width: 100%;
}
.ads {
    height: auto;
}
.news-tab-col-l {
    width: 25%;
}

