body {
    background-color: #131313;
    color: #fff;
}
h1 {
    font-size: 20px;
    margin-bottom: 25px;
}
h2 {
    line-height: 1.75;
    font-size: 1rem;
}
h3 {
    line-height: 1.75;
    /*font-size: 1rem;*/
    font-size: 15px;
    color: #343941;
}
h4 {
    line-height: 1.2;
    font-size: 1.2rem;
}

.sp1 {
    color: #888;
    font-size: 12px;
    margin-bottom: 7.5px;
    float: right;
    width: 100%;
}
.sp2 {
    color: #e01516;
}
.sp3 {
    color: #fff;
}
.titr {
    font-weight: bold;
}









.news-info {
    float: right;
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    background-color: #383838;
    font-size: 12px;
}
.news-info .address {
    float: right;
    margin-left: 50px;
}
.news-info .address a {
    float: right;
}
.news-info .address a:after {
    content: '/';
    float: left;
    margin: 0 5px;
}
.news-info .address a:last-child:after {
    content: '';
}
.news-info .date {
    float: right;
    margin-left: 50px;
}
.news-info .code {
    float: right;
    margin-left: 50px;
}
.news-info .socials {
    float: left;
}
.news-info .socials a {
    float: left;
    margin-right: 10px;
}
.news-info .socials a i {
    font-size: 20px;
}









/*.summary {*/
    /*float: right;*/
    /*width: 100%;*/
    /*background-color: #fcfcfc;*/
    /*border: 1px solid #ccc;*/
    /*padding: 15px;*/
    /*margin-bottom: 25px;*/
/*}*/
/*.news_pic {*/
    /*float: left;*/
    /*position: relative;*/
/*}*/
/*.img {*/
    /*float: left;*/
    /*width: 100%;*/
    /*height: 400px;*/
    /*overflow: hidden;*/
/*}*/
/*.img img {*/
    /*float: right;*/
    /*width: 100%;*/
    /*margin-top: -80px;*/
/*}*/
.news_pic .minimaize {
    position: absolute;
    right: 15px;
    top: 15px;
    padding: 3px;
    cursor: pointer;
    font-size: 19px;
    display: none;
}
.news_pic .minimaize i {
    position: absolute;
    right: 0;
    top: 0;
}
.news_pic .minimaize i:nth-child(1) {
    transform: rotate(10deg);
}
.news_pic .minimaize i:nth-child(2) {
    transform: rotate(95deg);
}
p {
    font-size: 15px;
    line-height: 25px;
    text-align: justify;
    color: #b3b3b3;
}

/*------------------------------------------sec two--------------------------*/
.main-part {
    float: right;
    width: calc(75% - 15px);
    margin-left: 15px;
    height: auto;
}
.main-news {
    float: right;
    margin: 75px 0 15px 0;
    width: 100%;
}
.news-box {
    float: right;
    width: 100%;
    margin-bottom: 15px;
}
.news-box .in {
    float: right;
    width: 100%;
    padding: 10px 10px;
    background-color: #383838;
    height: auto;
    overflow: auto;
}
.audio-box {
    width: 100%;
    border-radius: 0;
    background-color: #f1f3f4;
    margin-bottom: 25px;
}






.other_news {
    float: right;
    width: 100%;
    margin-bottom: 15px;
    background-color: #383838;
    height: auto;
    overflow: auto;
}
.other_news .in {
    float: right;
    width: 100%;
    padding: 10px;
}
.other_news h4 {
    float: right;
    width: 100%;
    margin-bottom: 2px;
    background-color: #383838;
    padding: 10px 15px;
    color: white;
    border-bottom: 2px solid #fff;
}
.other_news .sp3 {
    font-size: 12px;
}
.other_news .owl-carousel .owl-item .info h3 {
    color: #fff;
    font-size: 14px;
}
.owl-theme .owl-nav {
    top: calc(50% - 23px);
}

.video-news {
    float: right;
    width: 100%;
    margin-bottom: 25px;
}
.video-news video {
    float: right;
    width: 100%;
}




.comments {
    float: right;
    width: 100%;
    margin-bottom: 15px;
    background-color: #383838;
    height: auto;
    overflow: auto;
}
.comments h4 {
    background-color: #383838;
    padding: 10px 15px;
    color: white;
    border-bottom: 2px solid #fff;
}
.comments form {
    float: right;
    width: 100%;
    padding: 15px 10px 10px 10px;
}
.input-text {
    padding: 7.5px;
    float: right;
    width: 50%;
}
.input-text input {
    float: right;
    width: 100%;
    font-size: 14px;
    line-height: 18px;
    padding: 5px 10px;
    border: 1px solid #B0BEC5;
    border-radius: 3px;
}
.input-textarea {
    float: right;
    width: 100%;
    padding: 7.5px;
}
.input-textarea textarea {
    float: right;
    width: 100%;
    font-size: 14px;
    line-height: 18px;
    padding: 5px 10px;
    min-height: 100px;
    border: 1px solid #B0BEC5;
    border-radius: 3px;
}
.captcha {
    padding: 7.5px;
    float: right;
    width: 100%;
}
.captcha .in {
    float: right;
    width: 100%;
    padding: 5px;
    background-color: #313131;
}
.captcha .in span {
    line-height: 30px;
}
.captcha .captcha-img {
    float: left;
    width: 85px;
    border: 1px solid #B0BEC5;
    border-radius: 3px;
}
.captcha .captcha-img img {
    border-radius: 3px;
}
.captcha i {
    float: left;
    margin-left: 5px;
    line-height: 30px;
    font-size: 14px;
    cursor: pointer;
}
.captcha i:hover {
    color: red;
}
.captcha input {
    float: left;
    width: 100px;
    border: 1px solid #B0BEC5;
    border-radius: 3px;
    margin-left: 20px;
    font-size: 14px;
    line-height: 18px;
    padding: 5px 10px;
    text-align: center;
}
.sub-btn {
    padding: 7.5px;
    float: left;
    width: 100%;
}
.sub-btn button {
    background-color: #03A9F4;
    color: #fff;
    border: none;
    padding: 7px 25px;
    font-weight: normal;
    float: right;
}
.sub-btn button:hover {
    background-color: #0391d1;
}
.users-comments {
    float: right;
    width: 100%;
    background-color: #383838;
}
.users-comments h4 {
    background-color: #383838;
    padding: 10px 15px;
    color: white;
    border-bottom: 2px solid #fff;
}
.users-comments .in {
    float: right;
    width: 100%;
    padding: 15px;
}
.users-comments .in .item {
    float: right;
    width: 100%;
    margin-bottom: 15px;
    border: 1px solid #313131;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.users-comments .in .item header {
    float: right;
    width: 100%;
    padding: 5px 10px;
    background-color: #313131;
}
.users-comments .in .item header h5 {
    float: right;
    margin: 0 0 0 30px;
    color: #b3b3b3;
}
.users-comments .in .item header span {
    font-size: 12px;
    color: #9E9E9E;
}
.users-comments .in .item .info {
    padding: 10px 10px 20px 10px;
    float: right;
    width: 100%;
}
.users-comments .in .item .info p {
    margin: 0;
    font-size: 14px;
    color: #efefef;
}
    /*------------------------------------------------------------------------side*/
aside {
    float: right;
    width: 25%;
    margin-left: 0;
}
.last_news {
    float: right;
    width: 100%;
    margin-bottom: 15px;
    background-color: #383838;
    min-height: 751px;
}
aside header {
    border-bottom: 2px solid #fff;
    margin-bottom: 5px;
}
.last_news .news {
    float: right;
    width: 100%;
    padding: 5px;
}
.last_news .news h5 {
    color: #b3b3b3;
}
.last_news .news h5::before {
    content: "› ";
    font-weight: bold;
    font-size: 20px;
    color: orangered;
}

.colored-title {
    margin-bottom: 0;
    padding: 11px 5px;
}
.ads {
    height: auto;
    background-color: #383838;
}
.news-tab-col-l {
    width: 25%;
}
