body {
    font-family: 'Vazir', 'RTNassim';
    font-size: 13px;
    direction: rtl;
    background-color: #fff;
}
/*h5 for tabs text*/
h5 {
    line-height: 18px;
    font-size: 12px;
    color: #343941;
    margin-bottom: 11px;
    font-family: 'IRANSans';
}
img {
    width: 100%;
}
.shadow {
    -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
}
.news-col-2 {
    float: right;
    width: 50%;
}
.news-col-3 {
    float: right;
    width: 33.333%;
}
.news-col-4 {
    float: right;
    width: 25%;
}
.main-title {
    font-weight: bold;
}
.main {
    float: right;
    width: 100%;
}



/*----------------------------------------header-----------------------------------------*/
.header-main {
    float: right;
    width: 100%;
    height: 58px;
    position: fixed;
    z-index: 100;
    background: #ff3334;
    background-image: url(../img/map2.png);
    background-position: center 359px;
    background-size: 900px;
}
.header-main .top {
    float: right;
    width: 100%;
}
.header-main .top .right {
    width: 50%;
    float: right;
    padding: 15px 50px;
}
.header-main .top .right a {
    float: right;
    width: 220px;
}
.header-main .top .right a img {
    float: right;
    width: 100%;
}
.header-main .top .left {
    width: 50%;
    float: left;
    padding: 29px 50px;
    display: grid;
    text-align: center;
    direction: ltr;
}
.header-main .bottom {
    width: 100%;
    float: right;
    position: relative;
}
.header-main .bottom nav {
    float: right;
    width: 100%;
    height: 59px;
}
.header-main .bottom nav .logo {
    float: right;
    width: 75px;
    margin-left: 15px;
    padding: 5px 0;
}
.header-main .bottom nav .logo .img {
    float: right;
    width: 100%;
}
.header-main .bottom .level-1 {
    float: right;
}
.header-main .bottom .level-1 .nav-li-1 {
    float: right;
    position: inherit;
    padding: 5px 7.5px;
}
.header-main .bottom .level-1 .simple .title {
    float: right;
    height: 100%;
    font-size: 13px;
    display: block;
    line-height: 48px;
    cursor: pointer;
    COLOR: #FFF;
    padding: 0 11px;
}
.header-main .bottom .level-1 .dropdown .title {
    float: right;
    height: 100%;
    font-size: 13px;
    padding: 0 11px;
    display: block;
    line-height: 48px;
    cursor: pointer;
    COLOR: #FFF;
}
.header-main .bottom .level-1 .nav-li-1 .level-2 {
    display: none;
    position: absolute;
    right: 20px;
    top: 58px;
    width: calc(100% - 40px);
    background-color: #fff;
    padding: 25px 15px 25px 15px;
    box-shadow: 0 9px 9px #0000001c;
    /*border-top: 3px solid #d62e31;*/
}
.header-main .bottom .level-1 .nav-li-1:hover {
    background-color: #d62e31;
}
.header-main .bottom .level-1 .nav-li-1:hover a {
    color: #fff;
}
.header-main .bottom .level-1 .nav-li-1:hover .level-2 {
    display: block;
}
.header-main .bottom .level-1 .nav-li-1 .level-2 ul {
    line-height: 25px;
    float: right;
    padding-left: 75px;
}
.header-main .bottom .level-1 .nav-li-1 .level-2 ul li a {
    transition: .25s;
    color: #444;
}
.header-main .bottom .level-1 .nav-li-1 .level-2 ul li a:hover {
    color: #e01516;
}

/*--------------------------------------------------------------------search section*/
.search-section {
    position: fixed;
    left: 15px;
    width: 100%;
    height: 0;
    z-index: 100;
    top: 10px;
}
.search-section .left {
    width: 200px;
    float: left;
    margin-top: -10px;

}
.searchbox {
    transition: 0.5s;
    opacity: 0;
}
.search-section .m-container .left .date {
    float: left;
    width: 200px;
    height: 20px;
    font-size: 11px;
    direction: rtl;
    color: #fff;
    line-height: 20px;
    text-align: left;
    padding-top: 3px;
}
.search-section .icons {
    float: left;
    width: 90px;
    height: 38px;
    font-size: 10px;
    direction: rtl;
    color: #fff;
    padding: 4px 0;
}
.search-section .icons a {
    margin-right: 5px;
    float: left;
    border: 1px solid #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}
.search-section .icons a:hover {
    background-color: #b91213;
}
.search-section .icons a:last-child {
    margin-left: 0;
}
.search-section .icons a i {
    font-size: 13px;
}

.search-section .searchbox {
    float: left;
    width: 230px;
    padding: 10px;
    background-color: #bd1213;
    margin-left: -15px;
    position: absolute;
    left: 15px;
    top: -50px;
}
.search-section .searchbox form {
    float: left;
    width: 100%;
    border: 1px solid #fff;
}
.search-section .searchbox form button {
    float: right;
    width: 30px;
    padding: 6px 0;
    border: none;
    border-radius: 0 3px 3px 0;
    font-size: 13px;
    background-color: #ca1415;
    color: white;
}
.search-section .searchbox form input {
    float: right;
    width: calc(100% - 30px);
    border-radius: 0;
    border: none;
    padding: 1px 10px 1px 5px;
    font-size: 14px;
    text-align: right;
    background-color: rgb(255, 255, 255);
    height: 25px;
}


/*------------------------------------------------tab side news-------------------------------------------*/
.news-tab-col-c {
    float: right;
    width: calc(25% - 7.5px);
    margin-left: 15px;
}
.news-tab-col-l {
    float: right;
    width: calc(25% - 7.5px);
}
.sec-2 .news-tab {
    float: right;
    width: 100%;
    margin-left: 7.5px;
    background-color: #fff;
    padding: 5px;
}
.sec-2 .news-tab:first-child {
    margin-bottom: 15px;
}

/*-----------------------tabs header*/
.nav-tabs {
    border-bottom: none;
}
.nav-tabs .nav-item {
    width: 33.333%;
    padding: 0;
    border-left: 1px solid #fff;
}
.nav-tabs .nav-link {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    padding: 3px;
    text-align: center;
    color: #343941;
    border-bottom: 2px solid;
    font-weight: bold;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    border: none;
    height: 100%;
    color: #ff1b1d;
    border-bottom: 2px solid;
}
.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
    border-color: transparent;
    border-bottom-color: #ff1b1d;
    color: #ff1b1d;
}

/*---------------------tabs body*/
.tab-content {
    margin-top: 10px;
    overflow: auto;
    height: 622px;
    direction: rtl;
}
.side-news h5::before {
    content: "› ";
    font-weight: bold;
    font-size: 20px;
    color: orangered;
}
.side-news h5 {
    padding-left: 7px;
}
.box-hulf {
    margin-bottom: 15px;
    float: right;
    width: 100%;
}
.side-news-hulf {
    height: 317px!important;
}
.side-news .item {
    float: right;
    margin-bottom: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(204, 204, 204, 0.4);
}
.side-news .item .img {
    float: right;
    width: 100px;
    margin-left: 10px;
}
.side-news .item h5 {
    font-size: 14px;
    padding-left: 0;
}
.side-news .item h5::before {
    content: '';
}

    /*-----------------for scrollbar*/
.news-tab .tab-content::-webkit-scrollbar {
    width: 6px;
}

.news-tab .tab-content::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: #FAFAFA;
}

.news-tab .tab-content::-webkit-scrollbar-thumb {
    background: #FAFAFA;
    border-radius: 10px;
}

.news-tab .tab-content:hover::-webkit-scrollbar-thumb {
    background: #c8c9d3;
}

/*----------------------------------------------- ads -------------------------------------------*/

.ads {
    float: right;
    width: 100%;
    background-color: #fff;
    padding: 5px;
    margin-bottom: 15px;
    overflow: hidden;
    height: 666px;
}
.ads li {
    margin-bottom: 5px;
}

/*-----------------------------------------------single side news-------------------------------------------*/
.cities-important-news {
    float: right;
    width: 100%;
    margin-left: 7.5px;
    background-color: #fff;
    padding: 5px;
}
.cities-important-news .side-news {
    float: right;
    width: 100%;
    height: 700px;
    overflow: auto;
}
.side-title {
    margin-bottom: 10px;
    padding: 3px 0 7px;
    border-bottom: 3px solid #ff4500;
    font-size: 14px;
}
/*-----------for scrollbar*/
.cities-important-news .side-news::-webkit-scrollbar {
    width: 6px;
}

.cities-important-news .side-news::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: #FAFAFA;
}

.cities-important-news .side-news::-webkit-scrollbar-thumb {
    background: #FAFAFA;
    border-radius: 10px;
}

.cities-important-news .side-news:hover::-webkit-scrollbar-thumb {
    background: #c8c9d3;
}


/*------------------------------------------------------sliders----------------------------------------------------*/
.colored-title {
    margin-bottom: 15px;
    padding: 5px 0;
}
.colored-title::before {
    content: '';
    width: 3px;
    height: 20px;
    background-color: #e01516;
    margin-left: 10px;
    float: right;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.owl-theme .owl-nav {
    position: absolute;
    top: calc(50% - 15px);
    width: 100%;
    margin: 0;
}
.owl-theme .owl-nav button:first-child {
    position: absolute;
    right: -5px;
    background-color: rgba(0, 0, 0, 0.2);
    width: 25px;
    height: 35px;
    border-radius: 3px 0 0 3px;
    color: white;
    border: 1px solid #ffff;
    border-right: 0;
    line-height: 35px;
}
.owl-theme .owl-nav button:last-child {
    position: absolute;
    left: -5px;
    background-color: rgba(0, 0, 0, 0.2);
    width: 25px;
    height: 35px;
    border-radius: 0 3px 3px 0;
    color: white;
    border: 1px solid #ffff;
    border-left: 0;
    line-height: 35px;
}
.owl-theme .owl-nav [class*=owl-]:hover {
    background: rgba(0, 0, 0, 0.9);
}
.owl-carousel.owl-rtl .owl-item {
    /*padding: 5px;*/
    /*background-color: #fff;*/
}
.owl-carousel .owl-item {
    position: relative;
}
.owl-carousel .owl-item img {
}
.sec-4 .owl-carousel .owl-item i {
    position: absolute;
    width: 50px;
    height: 50px;
    right: calc(50% - 25px);
    top: calc(50% - 25px);
    font-size: 26px;
    color: rgba(255, 200, 0, 0.6);
    line-height: 30px;
    text-align: center;
    border: 2px solid rgba(255, 200, 0, 0.6);
    padding: 8px 6px 8px 11px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
}

.sec-4 .owl-carousel .owl-item:hover i {
    color: rgba(255, 200, 0, 0.9);
    border-color: rgba(255, 200, 0, 0.9);
}
.owl-carousel .owl-item .info {
    position: absolute;
    right: 50px;
    bottom: 10px;
    width: calc(100% - 100px);
    font-size: 14px;
    font-family: IRANSans;
    color: white;
    padding: 20px 10px 10px 10px;
    margin: 0;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.75);
}
.owl-carousel .owl-item .info h3 {
    color: #fff;
}
.slider h5 {
    font-size: 15px;
    font-weight: 500;
    line-height: 25px;
    margin-top: 10px;
    padding: 0 10px;
}

.owl-theme .owl-dots {
    position: absolute;
    left: 10px;
    top: -33px;
}
.owl-theme .owl-dots .owl-dot span {
    width: 10px;
    height: 10px;
    margin: 5px 7px;
    background: #c4c4c4;
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity .2s ease;
    border-radius: 30px;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #212529;
}
/*------------------------------------------------------sliders----------------------------------------------------*/
footer {
    float: right;
    width: 100%;
    background-color: #fff;
}
footer .top {
    float: right;
    width: 100%;
    background-color: #e8e9f3;
}
footer .top .in {
    float: right;
    width: 100%;
    padding: 15px 0;
}
footer .center {
    float: right;
    width: 100%;
    background-color: #2b2f35;
    color: white;
}
footer .center .in {
    float: right;
    width: 100%;
    padding: 15px 0;
}
.footer-col {
    float: right;
    width: 20%;
    line-height: 25px;
}
.footer-col-l {
    float: left;
    width: 20%;
    line-height: 25px;
}
footer .logo {
    float: left;
    margin-top: 25px;
    width: 100%;
}
footer .copyright {
    float: right;
    width: 100%;
    background-color: #262a2f;
    color: #748194;
}
footer .copyright .in {
    float: right;
    width: 100%;
    padding: 15px 0;
}
footer .copyright .right {
    float: right;
}
footer .copyright .right a {
    color: #d42a2b;
}
footer .copyright .left {
    float: left;
}

/*------------------------------------------------------------- socials ------------------------------------*/
.main-socials {
    position: fixed;
    left: 0;
    top: 50%;
    z-index: 99;
}
.main-socials ul {
    display: grid;
}
.main-socials ul li {
    width: 35px;
    text-align: right;
}
.main-socials ul li a {
    float: right;
    width: 150px;
    padding: 8px 10px 8px 5px;
    font-size: 15px;
    line-height: 15px;
    color: white;
    border-radius: 0 5px 5px 0;
    margin-bottom: 10px;
    margin-right: 0;
    transition: 0.3s;
}
.main-socials ul li:hover a {
    margin-right: -100px;
}
.main-socials ul li a i {
    font-size: 20px;
    margin-left: 15px;
}
.main-socials ul li .telegram {
    background-color: #03A9F4;
}
.main-socials ul li .instagram {
    background-color: #e83e8c;
}