.allert-succes {
    float: right;
    width: 100%;
    margin-top: 15px;
    background-color: white;
    padding: 20px;
    border: 1px solid #4CAF50;
}
.allert-succes h3 {
    font-size: 18px;
    color: #4CAF50;
}
.allert-succes p {
    margin: 0;
}
.allert-err {
    float: right;
    width: 100%;
    margin-top: 15px;
    background-color: white;
    padding: 20px;
    border: 1px solid #f44336;
}
.allert-err h3 {
    font-size: 18px;
    color: #f44336;
}
.allert-err p {
    margin: 0;
}